.terminal-rows {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1100px;
    width: 100%;
    gap: 32px;
    
}

.terminal {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
}

.terminal-output {
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 16px;    
    padding: 16px;
    height: 100%;
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;

}

.terminal-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    height: auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    outline: none;
}


.logs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logs-output {
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 16px;    
    padding: 16px;
    height: 100%;
    border-radius: 8px;
    height: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
}