.sidebar {
    display: flex;
    flex-direction: column;
    height: 226px;
    width: 65px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--primary-color);
    padding: 32px 8px;
    border-radius: 8px;
    position: fixed;
    grid-area: sidebar;
}

.sidebar-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-label {
    margin-top: 0px;
    font-size: 12px;
    color: var(--white-color);
}

.sidebar-icon.colored,
.sidebar-label.colored {
    color: var(--light-yellow-color);
}