.search-container {
    background-color: var(--secondary-color);
    padding: 16px;
    width: 50%;
    height: 20px;
    border-radius: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.search-container input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: var(--text-color);
    font-size: 16px;
    outline: none;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}