.base-page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 32px;
    gap: 32px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-area: content;
}