:root {
 
  --background-color: #121212;
  --primary-color: #282828;
  --secondary-color: #3F3F3F;
  --light-yellow-color: #FBAA4B;
  --yellow-color: #F89F31;
  --white-color: #FFFFFF;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  height: 100%;
  display: grid;
  padding: 32px;
  box-sizing: border-box;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 80px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
  align-items: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 0 32px;
  gap: 24px;
}

.pagination-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}