.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 32px 0;
}

.server-header {
    display: flex;
    width: 100%;
    height: auto;
    gap: 32px;
    justify-content: space-between;
}

.header-image {
    width: 185px;
    height: 185px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.header-image img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-info span {
    font-size: 16px;
    color: var(--yellow-color);
    font-weight: bold;
}


.header-actions {
    width: 110px;
    height: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.header-actions button {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 8px;
    background-color: var(--light-yellow-color);
    color: var(--secondary-color);
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.minecraft-server-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    gap: 16px 24px;

}

.info-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-row  p {
    font-size: 12px;
}

.world-data-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 24px;
    height: auto;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
}

.data-contents {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    height: 240px;
    overflow-y: auto;
    padding: 16px;
    gap: 8px;

    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
    scroll-behavior: smooth;
    
}

.mods-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.mods-contents {
    gap: 32px;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    
}

.install-all-button {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 8px;
    background-color: var(--light-yellow-color);
    color: var(--secondary-color);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.mods-list {
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 400px;
    padding: 16px;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.mods-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mod-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    background-color: var(--primary-color);
    width: 100%;
    height: 85px;
    border-radius: 8px;
    box-sizing: border-box;
}

.mod-image {
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.mod-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    align-items: center;
}

.mod-informations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod-informations h3 {
    margin: 0;
    font-size: 16px;
}

.mod-informations span {
    font-size: 12px;
    color: var(--yellow-color);
    font-weight: bold;
}

.mod-meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.remove {
    color: #FF383C;
    text-align: right;
    padding-right: 8px;
    user-select: none;
    text-decoration: underline;
    cursor: pointer;
}